
h1{
  margin:30px auto 0 auto;
  text-align: center;
  font-family: "Verdana",sans-serif;
  color:#7FB3D5;
}
#botones{
  width: 190px;
  height: 50px;
  margin:30px auto 0 auto;
  align-items: center;
}
/*este es el fondo de mis canchas*/
.fondo{
  width: 600px;
  height: 300px;
  background-color: #15770E;
  display: none;
  margin: 0 auto;
}
/*este es el estilo para mi cancha de Futbol*/

#porteriaIzq{
  width:100px;
  height: 200px;
  float:left;
  margin-top:47px;
  border-style: solid;
  border-width:  3pt;
  border-color: #fff;
  z-index: 5;

}

#semiciruloIzq {
     width: 50px;
     height: 100px;
     border: 3pt solid #fff;
     -moz-border-radius: 0 100px 100px 0;
     -webkit-border-radius: 0 100px 100px 0;
     border-radius: 0 100px 100px 0;
     float:left;
     margin:100px 0px 0px -3px;
}

#mediaCancha{
  width:2px;
  height: 298px;
  margin:0 auto;
  border-style: solid;
  border-width:  1pt;
  border-color: #fff;
  background-color: #fff;
  z-index: 3;
}

#ciruloMedio {
     width: 100px;
     height: 100px;
     border: 3pt solid #fff;
     -moz-border-radius: 50px;
     -webkit-border-radius: 50px;
     border-radius: 50px;
     float: left;
     margin:-200px 0px 0px 250px;
     z-index: 15;
}
#semiciruloDer{
     width: 50px;
     height: 100px;
     border: 3pt solid #fff;
     -moz-border-radius:  100px 0 0 100px;
     -webkit-border-radius:  100px 0 0 100px;
     border-radius:100px 0 0 100px;
     float:right;
     position: relative;
     margin:-200px 104px 0px 0px;
}
#porteriaDer{
  width:100px;
  height: 200px;
  float:right;
  margin-top:-250px;
  border-style: solid;
  border-width:  3pt;
  border-color: #fff;
  z-index: 5;
}

/*estilos para la cancha de basket*/
